<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="ASCOM.QAstroMeteo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup><userSettings>
        <ASCOM.QAstroMeteo.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="COMPort" serializeAs="String">
                <value />
            </setting>
            <setting name="K1" serializeAs="String">
                <value>33</value>
            </setting>
            <setting name="K2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="K3" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="K4" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="K5" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="K6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="K7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TraceLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SerialConnection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CTC" serializeAs="String">
                <value>-8</value>
            </setting>
            <setting name="CTO" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CFP" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CSVData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Lux" serializeAs="String">
                <value>1.0</value>
            </setting>
        </ASCOM.QAstroMeteo.Properties.Settings>
        <ASCOM.QAstroObs.Properties.Settings>
            <setting name="COMPort" serializeAs="String">
                <value/>
            </setting>
            <setting name="trace" serializeAs="String">
                <value>False</value>
            </setting>
        </ASCOM.QAstroObs.Properties.Settings>
    </userSettings>
</configuration>
